<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test API</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <h1><a href="/">Test API</a></h1>
    <ul>
      <li><a href="/signin">Вход</a></li>
      <li><a href="/signup" class="btn">Регистрация</a></li>
    </ul>
  </nav>

